extends layout

block content
	.row
		.col-sm-8
			#error
		.col-sm-4(style='text-align: right;')
			button#btnMute.btn.btn-primary(type="button", data-toggle="button") Mute
			a#btnPlay.btn.btn-default(href='#', role='button', rel='noreferrer') Play
			a#btnPause.btn.btn-default(href='#', role='button', rel='noreferrer', style="display:none") Pause
			a#btnResume.btn.btn-default(href='#', role='button', rel='noreferrer', style="display:none") Resume
	hr
	.row
		.col-sm-13(style="overflow-y: show; height: 360px; width: 100%;")
			.row
				.col-sm-1
				.col-sm-11(style='text-align:left;')
					p#lastUpdate.text-muted Date of Last Revision: November 15, 2013.
			.row
				.col-sm-12(style='text-align:center;')
					h2#title Statement of Rights and Responsibilities
					br
			.row
				.col-sm-1
				.col-sm-10
					div#renderArea 
						
				.col-sm-1
			#eula(style="display:none")
			br
			br
			br
			br
			#test
