extends layout

block content
	.container(style="padding-top: 75px;")
		include partials/flash
		.row
			.col-sm-8
				#error
		.row
			.col-sm-6(style='text-align: left;')
				p#lastUpdate.text-muted
			.col-sm-6(style='text-align: right;')
				button#btnMute.btn.btn-primary(type="button", data-toggle="button") Mute
				a#btnPlay.btn.btn-default(href='#', role='button', rel='noreferrer') Play
				a#btnPause.btn.btn-default(href='#', role='button', rel='noreferrer', style="display:none") Pause
				a#btnResume.btn.btn-default(href='#', role='button', rel='noreferrer', style="display:none") Resume
		hr
		.row
			.col-sm-13(style="overflow-y: show; height: 360px; width: 100%;")
				.row
					.col-sm-12(style='text-align:right;')
						a(href="/") Skip this, and I agree
				.row
					.col-sm-12(style='text-align:center;')
						h2#title
						br
				.row
					.col-sm-1
					.col-sm-10
						div#renderArea 
						div#iAgreeArea
							a.btn.btn-primary.btn-agree#btnAgree(href='/') I Agree
					.col-sm-1
				#eula(style="display:none")
		.row
			.col-sm-13
				.modal.fade#myModal(role="dialog", tab-index="-1", aria-labelledby="myModalLabel", aria-hidden="true")
					.modal-dialog
						.modal-content
							.modal-header
								button.close(data-dismiss="modal")
									span(aria-hidden="true") &times;
									span.sr-only Close
								h4.modal-title#myModalLabel Instructions
							.modal-body 
								p Instructions:
								ol
									li "Play" to start reading the fine print.
									li "Mute" to turn off and turn on the sound.
									li "Agree" to agree with these rules after reading all the rules.
									li "Skip" to agree without reading it first, and will take on any risk caused by not reading rules.

								p If you understand, press the "I Understand".
							.modal-footer
								button.btn.btn-primary(data-dismiss="modal") I Understand
